@media only screen and (max-width: 960px) {

    /* navbar */
    .my-button-one {
        display: none;
    }

    .my-button-two {
        display: none;
    }

    /* navbar */

    /* header */

    .text-image-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .text-container {
        /* background-color: aqua; */
        place-content: center;
        height: 50vh;
        width: 50%;
    }

    .text-button {
        /* background-color: #ff2b85; */
        height: 30vh;
        width: 100%;
        margin: auto;
        margin-left: 15px;
    }

    .text-button span {
        font-size: 2rem;
    }

    .search-box {
        box-shadow: none;
        display: block;
        position: absolute;
        left: 0;
        margin-top: 30px;
    }
    
    .search-box input {
        background-color: white !important;
        margin: 10px;
        width: 100%;
        height: 45px;
        border: 0.1px solid rgb(139, 118, 118);
        border-radius: 10px;
    }

    .text-button button {
        width: 100%;
    }


    .image-container {
        /* background-color: blue; */
        height: 50vh;
        width: 50%;
        place-content: start;
    }

}

@media only screen and (max-width: 768px){
    .section-one h1{
        margin-top: 40px ;
    }
    .section-two{
        margin-top: 300px;
    }
}



@media only screen and (max-width: 425px) {
    .search-box {
        margin-top: 0px;
    }
    .text-button span {
        font-size: 1.5rem;
    }

    .content-box {
        position: absolute;
        top: 350px;
        left: 15px;
        right: 15px;
        z-index: 2;
        background-color: white;
        padding: 20px 30px;
        border-radius: 15px;
        max-width: 500px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      .section-two{
        /* background-color: aqua; */
        margin-top: 400px;
        height: 100%;
        width: 100%;
    }
    .section-two h1{
        margin-bottom: 50px;
        margin-left: 10px;
    }
      


}
@media only screen and (max-width: 374px) {
    .text-button span {
        font-size: 1.4rem;
    }
    .search-box {
        margin-top: 10px;
    }

    .section-one h1{
        font-size: 1.7rem;
    }

    .section-two{
        /* background-color: aqua; */
        margin-top: 470px;
        height: 100%;
        width: 100%;
    }
      
}











@media only screen and (min-width:960px) {
    .profile-icon {
        display: none;
    }
}